/*- Custom style -*/



.citylogo {
	width: 145px;
	height: 150px;
	display: inline-block;
	background-size: cover;
	border-radius: 30%;
	-moz-border-radius: 30%;
	margin:1.5em;
}

.cityname{
	text-align: center;
}

